body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

nav{
    position: fixed;
    top: 0px;
    height: 80px;
    width: 100%;
    /* background-color: rgb(195, 205, 205); */
    background-color: #2c2c2c;
    /* background-image: url(../image_of_gun/backgrouund.jpeg);
    background-size: cover; */
}
.navbar{
    display: flex;
    justify-content: start;
}
.search{
    height: 40px;
    width: 900px;
    /* background-color: aqua; */
    margin-left: 200px;
}
.search input{
    height: 30px;
    width: 350px;
    margin-top: 5px;
    /* margin-left: 50px; */
    border-radius: 6% /100%;
    background-color: rgb(255, 255, 255);
    color: blue;
    padding-left: 10px;
    border-color: black;
}
.search i{
    /* color: white; */
    position: relative;
    left: -30px;
    top: 2px;
    cursor: pointer;
}
.search a{
    height: 60px;
    width: 70px;
    background-color: #333;
    font-size: 30px;
    text-decoration: none;
    margin-left: 450px;
    margin-top: 10px;
    color: rgb(254, 0, 0);
}
.content{
    margin-top: 5px;
    margin-left: 175px;
    /* background-color: #e01a1a9b; */
}
.content a{
    font-size: 20px;
    text-decoration: none;
    /* margin-left: 25px; */
    /* color: rgb(35, 33, 33); */
    color: #ccc;
}
.menu-item {
    position: relative;
    display: inline-block;
    /* margin-left: 40px; */
}

.menu-item a {
    text-decoration: none;
    /* color: black; */
    padding: 8px 16px;
    /* background-color: #f0f0f0; */
    color: #e6e4e7;
    /* font-size: 25px; */
    border-radius: 4px;
    display: block;
    /* justify-content: space-evenly;
    align-items: center; */
    
}

  /* Dropdown list styling */
.dropdown-list {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(148, 121, 121, 0.2);
    border-radius: 4px;
    padding: 8px 0;
    z-index: 1;
}

  /* Style each list item */
.dropdown-list li {
    list-style: none;
    /* padding: 8px 16px; */
    white-space: nowrap;
}

.dropdown-list li a {
    text-decoration: none;
    color: #e6e4e7;
}

  /* Show the dropdown list on hover */
.menu-item:hover .dropdown-list {
    display: block;
}
.content a:hover{
    color:#fff; ;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #717171d6;
    width: 500px;
    /* height: 400px; */
    text-align: center;
}
.login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #d31c1c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
}
.login-container button:hover {
    background-color: #45a049;
}